.logo-1{
    width: 50%;
    height: 30%;
    border-radius: 50%;
}
div {
    margin-bottom: 10px;
  }
.modals-container{
    background-color: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3 ease;
    
}
.modals-container.show{
    pointer-events: auto;
    opacity: 1;
}
.modals{
    background-color: #fff;
    border-radius: 5px;
    padding: 30px 50px;
    width: 600px;
    text-align: center;
}
